[run]
# List of package names.
source_pkgs = incremental
# List of directory names.
source = tests
branch = True
parallel = True

[paths]
source =
   src/incremental
   */src/incremental
   */site-packages/incremental

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
